@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-overlay {
    background-color: hsla(300, 20%, 99%, 0.3);
    @apply backdrop-blur-sm;
  }

  .dark .bg-overlay {
    background-color: hsla(260, 25%, 11%, 0.3);
    @apply backdrop-blur-sm;
  }

  .select-content {
    min-width: var(--radix-select-trigger-width);
    max-height: var(--radix-select-content-available-height);
  }
}

html {
  scrollbar-width: 0;
}

body::-webkit-scrollbar {
  display: none;
}
